language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "nightly"
install:
  - "pip install -r requirements.txt"
  - "pip install coverage"
script: coverage run --source=highlander setup.py test
